@model StudentManagement.Models.ProjectViewModel.ProjectEditViewModel

@using StudentManagement.Service

@inject IUserPermission Userpermission
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{ ViewData["Title"] = "Edit Project"; }

<div class="container">

    <div class="row justify-content-center">

        <div class="col-xl-12 col-lg-12 col-md-12">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Create Project</h1>
                                </div>
                                <form asp-action="Edit" asp-controller="Projects" method="post" class="user">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="form-group">
                                        <label style="border:none;margin:0;" class="form-control">Project Name</label>
                                        <input asp-for="Title" class="form-control form-control-user">
                                    </div>

                                    <div class="form-group">
                                        <label style="border:none;margin:0;" class="form-control">Description</label>
                                        <textarea asp-for="Description" class="form-control form-control-user"></textarea>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-6">
                                            <label style="border:none;margin:0;" class="form-control">Start Time</label>
                                            <input type="date" asp-for="StartTime" class="form-control">
                                        </div>
                                        <div class="col-6">
                                            <label style="border:none;margin:0;" class="form-control">End Time</label>
                                            <input type="date" asp-for="DeadLine" class="form-control">
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary btn-user btn-block">Edit</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>



@section Scripts {
    <script src="~/js/ckeditor/ckeditor.js"></script>
    <script>CKEDITOR.replace('Description');</script>
}