@model StudentManagement.Models.CreateRoleViewModel.CreateRoleViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{ ViewData["Title"] = "Create New Role";}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1>@localizer["title"]</h1>
                                </div>
                                <form method="post" asp-controller="Admin" asp-action="CreateRole" class="user">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="form-group">
                                        <label style="border:none;margin:0;" class="form-control">@localizer["rolename"]</label>
                                        <input asp-for="RoleName" class="form-control form-control-user">
                                    </div>

                                    <button type="submit" class="mb-3 btn btn-primary btn-user btn-block">@localizer["create"]</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
