@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<div class="text-center">
    <h1 class="text-danger">@localizer["Title"]</h1>
    <h6 class="text-danger">@localizer["Notice"]</h6>
    <img src="~/images/No.jpg" style="height:300px; width:300px;object-fit:cover" />
</div>