@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<div class="text-center">
    <h1 class="text-danger">@localizer["title"]</h1>
    <h6 class="text-danger">@localizer["notice"]</h6>
    <img src="~/images/No.png" style="height:300px; width:300px" />
</div>