@model StudentManagement.Models.AccountViewModel.ForgotPasswordViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<h2>@localizer["forgotPassword"]</h2>

<div class="row">
    <div class="col-md-3">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label>@localizer["email"]</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">@localizer["submit"]</button>
        </form>
    </div>
</div>