@model StudentManagement.Models.AccountViewModel.ForgotPasswordViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{ ViewData["Title"] = "Forgot Password"; }

<div class="container">

    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
                                    <p class="mb-4">
                                        We get it, stuff happens. Just enter your email address below
                                        and we'll send you a link to reset your password!
                                    </p>
                                </div>
                                <form method="post" asp-action="ForgotPassword" asp-controller="Account" class="user" id="forgotPasswordForm">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <p class="text-success">@ViewData["StatusMessage"]</p>
                                    <div class="form-group">
                                        <input asp-for="Email" type="email" class="form-control form-control-user"
                                               id="exampleInputEmail" aria-describedby="emailHelp"
                                               placeholder="Enter Email Address...">
                                    </div>
                                    <a href="#" class="btn btn-primary btn-user btn-block" onclick="document.getElementById('forgotPasswordForm').submit();">
                                        Reset Password
                                    </a>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" asp-action="Register" asp-controller="Account">Create an Account!</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" asp-action="Login" asp-controller="Account">Already have an account? Login!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
