@model StudentManagement.Models.AccountViewModel.ForgotPasswordViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link rel="stylesheet" href="~/Login/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/Login/css/owl.carousel.min.css">

    <link rel="stylesheet" href="~/Login/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/Login/css/style.css">
</head>

<div class="container" style="border-style: dashed; width: 500px; height: 600px; margin-top: 80px">
    <p>
        <h2>@localizer["forgotPassword"]</h2>
    </p>
    <div class="row">
        <div class="col-md-6">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group" style="top: 50%;left: 50%;position: relative; transform: translate(-50%, -50%)">
                    <label style="padding-top:50px">@localizer["email"]</label>
                    <input asp-for="Email" class="form-control" styel="padding-top:50px" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary btn-block">@localizer["submit"]</button>
            </form>
        </div>
    </div>
</div>

<hr />


<script src="~/Login/js/jquery-3.3.1.min.js"></script>
<script src="~/Login/js/popper.min.js"></script>
<script src="~/Login/js/bootstrap.min.js"></script>
<script src="~/Login/js/main.js"></script>