@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Authentication
@model StudentManagement.Models.AccountViewModel.LoginViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@inject Microsoft.AspNetCore.Identity.SignInManager<StudentManagement.Models.User> SignInManager

@{ ViewData["Title"] = "Log in"; }


<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                </div>
                                <form asp-action="Login" asp-controller="Account" id="loginform" method="post" class="user">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="form-group">
                                        <input autocomplete="off" asp-for="Email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address...">
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="Password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox small">
                                            <input asp-for="RememberMe" type="checkbox" class="custom-control-input" id="customCheck">
                                            <label class="custom-control-label" for="customCheck">
                                                Remember
                                                Me
                                            </label>
                                        </div>
                                    </div>
                                    <a href="#" class="btn btn-primary btn-user btn-block" onclick="document.getElementById('loginform').submit();">
                                        Login
                                    </a>
                                    <hr>
                                </form>
                                <form id="myForm" method="post" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        if (provider.Name == "Facebook")
                                        {
                                            <input type="hidden" value="@provider.Name" name="provider" />
                                            <a style="font-size:0.8rem;border-radius:10rem;padding:0.75rem 1rem" href="#" onclick="document.getElementById('myForm').submit();" class="btn btn-google btn-user btn-block">
                                                <i class="fab fa-google fa-fw"></i> Login with Google
                                            </a>
                                        }

                                        if (provider.Name == "Google")
                                        {
                                            <input type="hidden" value="@provider.Name" name="provider" />
                                            <a style="font-size:0.8rem;border-radius:10rem;padding:0.75rem 1rem" href="#" class="btn btn-facebook btn-user btn-block" onclick="document.getElementById('myForm').submit();">
                                                <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                                            </a>
                                        }
                                    }
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a asp-action="ForgotPassword" asp-controller="Account" class="small">Forgot Password?</a>
                                </div>
                                <div class="text-center">
                                    <a asp-action="Register" asp-controller="Account" class="small">Create an Account!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
