@{
    ViewData["Title"] = "Dashboard";

}

<div>
    Online User<strong id="counter"></strong>
</div>

@section Scripts{
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/count.js"></script>
} 