@model StudentManagement.Models.EventViewModel.EventDetailViewModel

@{
    ViewData["Title"] = "My Events";
}


<button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#exampleModal">
    Add Event
</button>

<form method="post" asp-action="Create" asp-controller="Events">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Event</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label style="border:none;margin:0;padding:0" class="form-control">Title</label>
                        <input asp-for="EventCreateViewModel.Title" class="form-control form-control-user" />
                    </div>
                    <div class="form-group">
                        <label style="border:none;margin:0;padding:0" class="form-control">Description</label>
                        <textarea asp-for="EventCreateViewModel.Description" class="form-control form-control-user"></textarea>
                    </div>
                    <div class="form-group row">
                        <div class="col-6">
                            <label style="border:none;margin:0;padding:0" class="form-control">Start Time</label>
                            <input asp-for="EventCreateViewModel.StartTime" class="form-control form-control-user" />
                        </div>
                        <div class="col-6">
                            <label style="border:none;margin:0;padding:0" class="form-control">End Time</label>
                            <input asp-for="EventCreateViewModel.EndTime" class="form-control form-control-user" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label style="border:none;margin:0;padding:0" class="form-control">Theme Color</label>
                        <select asp-for="EventCreateViewModel.ThemeColor" class="form-control form-control-user">
                            <option value="Black">Black</option>
                            <option value="Red">Red</option>
                            <option value="Green">Green</option>
                            <option value="Blue">Blue</option>
                            <option value="Pink">Pink</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div id="calendar">

</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><span id="eventTitle"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <button id="btnDelete" class="btn btn-danger btn-sm float-right">
                    <span class="glyphicon glyphicon-remove"></span> Remove
                </button>
                <p id="pDetails"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
    <script>
        $(document).ready(function () {
            var events = [];
            var selectedEvent = null;
            $.ajax({
                type: "GET",
                url: "/Events/GetEvents",
                success: function (data) {
                    $.each(data, function (i, v) {
                        $.each(v, function (index, value) {
                            events.push({
                                eventId: value.id,
                                title: value.title,
                                description: value.description,
                                start: moment(value.startTime),
                                end: moment(value.endTime),
                                color: value.themeColor,
                            });
                        })
                    })

                    console.log(events);
                    GenerateCalender(events);
                },
                error: function (error) {
                    alert('failed');
                }
            })

            function GenerateCalender(events) {
                $('#calendar').fullCalendar('destroy');
                $('#calendar').fullCalendar({
                    defaultDate: new Date(),
                    timeFormat: 'h(:mm)a',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay,agenda'
                    },
                    eventLimit: true,
                    eventColor: '#378006',
                    eventTextColor: '#fff',
                    events: events,
                    eventClick: function (calEvent, jsEvent, view) {
                        selectedEvent = calEvent;
                        console.log(selectedEvent);
                        $('#myModal #eventTitle').text(calEvent.title);
                        var $description = $('<div/>');
                        $description.append($('<p/>').html('<b>Start: </b>' + calEvent.start.format("DD-MMM-YYYY HH:mm a")));
                        $description.append($('<p/>').html('<b>End: </b>' + calEvent.end.format("DD-MMM-YYYY HH:mm a")));
                        $description.append($('<p/>').html('<b>Description: </b>' + calEvent.description));
                        $('#myModal #pDetails').empty().html($description);

                        $('#myModal').modal();
                        $('#btnDelete').click(function () {
                            if (selectedEvent != null && confirm('Are you sure?')) {
                                $.ajax({
                                    type: "POST",
                                    url: '/Events/DeleteEvent',
                                    data: { 'eventId': selectedEvent.eventId },
                                    success: function (data) {
                                        FetchEventAndRenderCalendar();
                                        $('#myModal').modal('hide');
                                    },
                                    error: function () {
                                        alert('Failed');
                                    }
                                })
                            }
                        })
                    }
                })
            }
        })
    </script>
}
