
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}




/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}



div.login-logout-tab div.card-header {
    margin: 0px 0px 12px 0px;
}

div.login-logout-tab ul.nav-tabs {
    margin: 0px 0px -12px 0px;

}

div.login-logout-tab li.nav-item {
    width: 50%;

}

div.login-logout-tab a.nav-link {
    font-size: 25px;

    text-align: center;
}

div.card-content {
    padding: 10px 20px;
}

.meow {
    height:40px;
    width: 40px;
    border-radius: 50%;
}

.card-container {
    width: 1000px;
    overflow-x: scroll;
    display: flex;
    background-color: #100e17;
    padding: 3rem;
}

.cardx {
    min-width: 300px;
    height: 350px;
    border-radius: 16px;
    background-color: #17141d;
    box-shadow: -1rem 0 3rem #000;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    transition: 0.2s;
}

.date {
    color: #8a8a8a;
}

.note-tag {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0 1rem;
}

    .note-tag div {
        font-size: 9px;
        font-weight: 700;
        color: #fff;
        padding: 4px 10px;
        border: 3px solid #28242f;
        border-radius: 2rem;
    }

.cardx .note-title {
    font-size: 14px;
    color: #fff;
    margin-bottom: 1rem;
}

.cardx .note-content {
    font-size: 20px;
    color: #fff;
    font-weight: 700;
}

.cardx .article-header {
    margin-bottom: auto;
}

.cardx:not(:first-child) {
    margin-left: -130px;
}

.cardx:hover {
    transform: translateY(-1rem);
}

    .cardx:hover ~ .cardx {
        transform: translateX(130px);
    }