@model StudentManagement.Models.SubjectViewModel.SubjectCreateViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Create Subject";
}

<div class="container">

    <div class="row justify-content-center">

        <div class="col-xl-6 col-lg-6 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">@localizer["Title"]</h1>
                                </div>
                                <form asp-action="Create" asp-controller="Subjects" method="post" class="user">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="form-group">
                                        <label style="border:none;margin:0;" class="form-control">@localizer["Subject"]</label>
                                        <input asp-for="Name" class="form-control form-control-user">
                                    </div>

                                    <div class="form-group">
                                        <label style="border:none;margin:0;" class="form-control">@localizer["Theme"]</label>
                                        <div style="display:flex;align-items:center" class="form-check mb-4">
                                            <input class="form-check-input" asp-for="ThemeName" type="radio" value="img_birthday.jpg" checked>
                                            <img src="~/SubjectThemes/img_birthday.jpg" />
                                        </div>
                                        <div style="display:flex;align-items:center" class="form-check mb-4">
                                            <input class="form-check-input" asp-for="ThemeName" type="radio" value="img_bookclub.jpg">
                                            <img src="~/SubjectThemes/img_bookclub.jpg" />
                                        </div>
                                        <div style="display:flex;align-items:center" class="form-check mb-4">
                                            <input class="form-check-input" asp-for="ThemeName" type="radio" value="img_graduation.jpg">
                                            <img src="~/SubjectThemes/img_graduation.jpg" />
                                        </div>
                                        <div style="display:flex;align-items:center" class="form-check mb-4">
                                            <input class="form-check-input" asp-for="ThemeName" type="radio" value="img_read.jpg">
                                            <img src="~/SubjectThemes/img_read.jpg" />
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary btn-user btn-block">@localizer["Create"]</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>